schema/schema.graphql
telephony-system-test-config/

*.idea
*.pyc
.DS_Store
_Store
*.swp
*~.nib

*.gcno
*.orig

/build/
Carthage/Build/

*.pbxuser
*.perspective
*.perspectivev3A
xcuserdata

*.dSYM.zip
*.ipa
*.mobileprovision
